
// Colores
$azul: #009ab7;
$fondoCargaUno:rgba(0,154,183,.2);
$fondoCargaDos: #abb8c3;
$blanco: #fff;
$colorEntero: 1;

// Medidas
$h1: 5em;
$h4: 1.4em;

// Espacio entre letras
$espacio: .1em;

// Tipografia
$letra-defecto: "Verdana, Arial, Lucida Sans, sans-serif";

// Breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px
