* {
  box-sizing: border-box; 
}

body { 
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif; 
}

/* contenedor 3D o escena */
.escena {
  /* estilos flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* resto de estilos */
  width: 100%;
  height: 100%;
  
  /* */
  perspective: 600px;
}

/* estilos para el contenedor tarjeta */
.tarjeta {
  width: 250px;
  height: 350px;
  cursor: pointer;
  position: relative;

  /* */
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* estilos para ambos lados */
.lado {
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;

  /* */
  position: absolute;
  backface-visibility: hidden
}

/* estilos para cada lado */

.anverso {
  background: teal;
}

.reverso {
  background: orange;
  
  /* */
  transform: rotateY(180deg);
}

/* clase que voltea la tarjeta */
.voltear {
  /* */
  transform: rotateY(180deg);
}
