/*
 * Edurne Presa Angulo - DIW06 TE1 - Animaciones
 * 
 * ---------- ÍNDICE ----------  
 * I. GENERAL
 * II. TITULO
 *    2.1. Animación de título
 * III. RELOJ
 *    3.1. Marcas del reloj 
 *    3.2. Agujas del reloj
 *    3.3. Animación de las agujas
 * IV. MAIN 
 *    4.1 Leyenda
 *    4.2 Gráfico
 *    4.3. Creación del gráfico
 *    4.4. Animación del gráfico
 */


// Variables SCSS
$DAM: #009ab7;
$DAW: rgba(0, 153, 183, 0.371);
$titulo: #006b8d;
$fondo: #ededed;
$reloj: #02b2d5;

/* I. GENERAL */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: $fondo;
}

/* II. TITULO */
header {
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 1.7rem;
  color: $titulo;
  margin: 1rem 0;

  /* 2.1. Animación de título */
  animation: {
    name: titulo;
    duration: 2s;
  }

  /* Animación de título: bota al aparecer*/
  @keyframes titulo {
    0% {
      transform: translateY(-500px);
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    55% {
      transform: translateY(-30px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-15px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
}


/* III. RELOJ */
aside {
  width: 10%;
  position: fixed;
  margin-left: 3%;
  transform: rotate(180deg);

  .reloj {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .reloj__base {
      background-color: white;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      border: 3px solid  $reloj;
      z-index: 0;
      position: absolute;
    }   

    /* 3.1. Marcas del reloj */
    .centro {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: $reloj;
      border: white solid 6px;
      z-index: 13;
      position: absolute;
    }

    .arriba,
    .derecha,
    .abajo,
    .izquierda {
      content:'';
      background-color: $reloj;
      position: absolute;
      color: $reloj;
      z-index: 10;
    }
    .arriba { 
      top: 0;
      left: 50%; 
      transform: translateX(-50%); 
    }
    .derecha { 
      right: 0; 
      top: 50%; 
      transform: translateY(-50%); 
    }
    .abajo { 
      bottom: 0; 
      left: 50%; 
      transform: translateX(-50%); 
    }
    .izquierda { 
      left: 0; 
      top: 50%; 
      transform: translateY(-50%); 
    }
    .arriba,
    .abajo {
      width: 3px;
      height: 7px;
    }
    .derecha,
    .izquierda {
      width: 7px;
      height: 3px;
    }
    
    /* 3.2. Agujas del reloj */
    .aguja__minutos {
      content:'';
      width: 2px;
      height: 50px;
      background-color: $DAW;
      position: absolute;
      color: $reloj;
      z-index: 11;
      
      animation: {
        name: girarMinutos;
        duration: 2s;
        timing-function: linear;
        iteration-count: infinite;
      }
    }
    .aguja__horas {
      content:'';
      width: 2px;
      height: 40px;
      background-color: $DAM;
      position: absolute;
      color: $reloj;
      z-index: 12;

      animation: {
        name: girarHoras;
        duration: 24s;
        timing-function: linear;
        iteration-count: infinite;
      }
    }
    .aguja__horas,
    .aguja__minutos {
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center top;
    }
  }

  /* 3.3. Animación de las agujas */
  @keyframes girarMinutos {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }
  @keyframes girarHoras {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }
}

/* IV. MAIN */ 
main {
  display: flex;
  align-items: center;
  text-align: center;
  height: 75vh;
  
  /* 4.1 Leyenda */ 
  .leyenda {
    width: 15%;
    h6 {
      font-size: 1.3rem;
      color: $titulo;
      text-decoration: underline;
      margin: 1rem;
    }
    p {
      font-weight: 800;
      font-size: 1.1rem;
      margin: 1rem;
    }
    p:nth-child(odd) {
      color: $DAM;
    }
    p:nth-child(even) {
      color: $DAW;
    }
  } 

  /* 4.2 Gráfico */
  .chart {
    width: 85%;
    height: 80vh;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 5px;
    padding: 5px 10px;
    justify-content: center;
    grid-area: grafico;

    /* Animación del gráfico */
    animation: {
      name: graficos;
      duration: 2s;
    }
  }
  [class*="bar"] {
    border-radius: 5px 5px 0 0;
    grid-row-start: 1;
    grid-row-end: 101;
    
    transition: all 0.2s; /* Transiciones suaves */ 

    p {
      visibility: hidden;
    }

    /* Si hover:
     *  - se agranda la columna
     *  - se muestra el número
     */
    &:hover {
      transform: scale(1.08);

      p {
        visibility: visible;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
      }
    } 
  }

  /* 4.3. Creación del gráfico */
  $totalRows: 100;
  @mixin chartValue($data) {
    $result: $totalRows - $data;
    grid-row-start: $result;
  }
  @for $i from 1 through $totalRows {
    .bar-#{$i} {
      $valor: (
        $i
      );
      @include chartValue($i);
    } 
  }
  [class*="bar"]:nth-child(odd) {
    background-color: $DAM;
  }
  [class*="bar"]:nth-child(even) {
    background-color: $DAW;
  }

  /* 4.4. Animación del gráfico - carga de página */ 
  @keyframes graficos {
     0% {
      transform: scaleY(0);
      transform-origin: 0% 100%;
     }
     100% {
      transform: scaleY(1);
      transform-origin: 0% 100%;

     }
  }
}